@media screen and (min-width: 1280px) {
  .swiper-button-next,
  .swiper-button-prev {
    left: 50%;
    transform: rotate(90deg);
    transform-origin: left center;
  }

  .swiper-button-prev {
    text-shadow: -3px 0px 5px black;
    color: var(--tw-primary);
    top: 5px;
  }

  .swiper-button-next {
    text-shadow: 3px 0px 5px black;
    color: var(--tw-primary);
    top: auto;
    bottom: 5px;
  }
}

.swiper-button-prev {
  text-shadow: -3px 0px 5px black;
  color: var(--tw-primary);
}

.swiper-button-next {
  text-shadow: 3px 0px 5px black;
  color: var(--tw-primary);
}


.swiper-button-disabled {
  opacity: 0 !important;
  text-shadow: none;
}
